.eligners-work {
	padding: 100px 0;
	background: var(--Blue, #5d7dda);
	// overflow: hidden;
}

.eligners-work__inner {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.eligners-work__text {
	display: flex;
	gap: 32px;

	color: var(--White, #fcfeff);
}

.eligners-work__title {
	line-height: 140%; /* 49px */
	flex-shrink: 0;
}

.eligners-work__desc {
	max-width: 570px;
	color: var(--White, #fcfeff);
	font-size: 23px;
	font-weight: 600;
	line-height: 140%; /* 32.2px */
}

.eligners-work__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 14px;
}

.eligners-work__card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border-radius: 10px;
	background: var(--White, #fcfeff);
}

.eligners-work__img {
}

.eligners-work__card-desc {
	color: var(--Black, #171717);
	font-family: Inter;
	font-size: 16px;
	line-height: 140%;
	b {
		font-weight: 600;
	}
}

.eligners-work__swiper {
	display: none !important;
}

.eligners-work__pagination {
	display: none;
}

@include mediaTablet {
	.eligners-work {
		padding: 90px 0;
		position: relative;
		z-index: 2;
	}

	.eligners-work__inner {
		gap: 30px;
	}

	.eligners-work__desc {
		font-size: 18px;
		font-weight: 500;
	}

	.eligners-work__card {
		padding: 10px;
	}

	.eligners-work__img {
		border-radius: 10px;
		min-height: 171px;
		object-fit: cover;
	}
}

@include mediaExtraMobile {
	.eligners-work .container {
		padding-right: calc(
			(100% - var(--container-width)) / 2 + var(--container-padding)
		);
	}

	.eligners-work {
		padding: 40px 0;
	}

	.eligners-work__swiper {
		display: block !important;
	}

	.eligners-work__text {
		flex-direction: column;
		gap: 16px;
		padding-right: 20px;
	}

	.eligners-work__desc {
		font-size: 16px;
	}

	.eligners-work__cards {
		display: none;
	}

	.eligners-work__card {
		max-width: clamp(19.688rem, 10.007rem + 43.02vw, 31.25rem);
		// max-width: 300px;
		height: auto !important;
		display: flex !important;
	}

	.eligners-work__pagination {
		position: static !important;
		bottom: 0px !important;
		top: auto !important;

		.swiper-pagination-bullet {
			width: 13px;
			height: 13px;
			background-color: #fcfeff66;

			&-active {
				background-color: #fcfeff;
			}
		}
	}

	.eligners-work__pagination {
		display: block;
	}

	.eligners-work__swiper {
		width: 100%;
	}
}

@include mediaMiniMobile {
	.eligners-work__inner {
		gap: 20px;
	}
}
