.special-offer-banner {
	padding: 70px 0 30px;
	background-color: var(--White, #fcfeff);
}

.special-offer-banner__inner {
}

.special-offer-banner__title {
	display: flex;
	align-items: center;

	position: relative;
	padding-left: 28px;

	margin-bottom: 20px;

	color: var(--Blue, #5d7dda);
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 14px;
		height: 14px;
		background-color: var(--Blue, #5d7dda);
		border-radius: 50%;
	}
}

.special-offer-banner__desc {
	margin-bottom: 20px;
	color: #171717;
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%; /* 23.8px */

	a {
		color: var(--Blue, #5d7dda);
		font-weight: 700;
		line-height: 140%;
		text-decoration-line: underline;
	}
}

.special-offer-banner__cases {
	display: flex;
	justify-content: space-between;
	// display: grid;
	// grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin-bottom: 20px;
}

.special-offer-banner__case {
	max-width: 330px;
}

.special-offer-banner__case-title {
	color: var(--Blue, #5d7dda);
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #b5b5b5;
}

.special-offer-banner__case-price {
	margin-bottom: 14px;
	color: var(--Black, #171717);
	font-variant-numeric: lining-nums proportional-nums;
	font-size: 30px;
	font-weight: 600;

	small {
		font-size: 17.536px;
		font-weight: 400;
	}
}

.special-offer-banner__case-benefit {
	color: var(--Black, #171717);
	font-size: 16px;
	font-style: italic;
	font-weight: 200;

	b {
		font-weight: 400;
	}
}

.special-offer-banner__case-desc {
	font-family: var(--font-main);
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	color: var(--black);
	display: block;
	margin-top: 14px;
	max-width: 333px;
}

.special-offer-banner__attention {
	display: flex;
	gap: 10px;
	color: var(--Black, #171717);
	font-size: 16px;
	font-weight: 400;
	max-width: 760px;

	&::before {
		content: '!';
		display: flex;
		height: min-content;
		min-width: 22px;
		min-height: 22px;
		margin-top: 2px;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		background: var(--Blue, #5d7dda);
		color: #f9fbfb;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

@include mediaLaptop {
	.special-offer-banner__title {
		margin-bottom: 24px;
	}

	.special-offer-banner__desc {
		font-size: 16px;
	}

	.special-offer-banner__cases {
		gap: 20px;
		margin-bottom: 24px;
	}

	.special-offer-banner__case-title {
		font-size: 16px;
	}

	.special-offer-banner__case-price {
		font-size: 20px;
		margin-bottom: 5px;

		small {
			font-size: 14px;
		}
	}

	.special-offer-banner__case-benefit {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		margin-top: auto;
	}

	.special-offer-banner__attention {
		font-size: 14px;
		max-width: 670px;
	}
}

@include mediaTablet {
	.special-offer-banner {
		padding: 54px 0 30px;
		@include sectionUp(54px);
	}
}

@include mediaExtraMobile {
	.special-offer-banner {
		padding: 60px 0 40px;
		@include sectionUp(60px);
	}

	.special-offer-banner__title {
		margin-bottom: 26px;
		padding-left: 30px;
		flex-direction: column;
		align-items: flex-start;

		&::before {
			transform: translateY(-125%);
		}
	}

	.special-offer-banner__desc {
		padding-left: 30px;
	}

	.special-offer-banner__cases {
		flex-direction: column;
		padding-left: 30px;
		gap: 14px;
	}

	.special-offer-banner__case {
		max-width: none;
	}

	.special-offer-banner__case-benefit {
		flex-direction: row;
		margin-top: 12px;
	}

	.special-offer-banner__case-desc {
		margin-top: 7px;
	}

	.special-offer-banner__attention {
		font-size: 16px;
	}
}
